<%# Called when an ajax request is made %>

<% if @comment.errors.any? %>
  $("#flash").hide(300);
  $("#comment_errors").html("<%= escape_javascript(errors_for(@comment).html_safe) %>").show(300);
<% else %>
  <%# Hide the div post_errors %>
  $("#comment_errors").hide(300);
  <%# Update the html of the div flash_notice with the new one %>
  $("#flash").html("<div class='flash_notice'><%= escape_javascript(flash[:notice])%></div>").show(300).delay(5000).fadeOut('slow');

  <%# Replace the html of the div post_lists with the updated new one %>
  $("#all_comments").html("<%= escape_javascript( render(partial: "comments", locals: { career: @career, hash: @career.comment_thread }) ) %>");

  <%# Clear the entire form %>
  $("textarea.comment_body").each(function(idx, elem) { $(elem).val(''); });

<% end %>
