/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.flash_notice { background-color: #449955; color: #EFEFEF; padding: 3px 5px; font-weight: bold; position: fixed; top: 0; left: 0; text-align: center; width: 100%; }

.div_form { width: 500px; border: 1px solid gray; }
.div_form .title { background-color: #afafaf; color: #efefef; font-weight: bold; padding: 2px 5px; }
.div_form .field_line { margin: 5px; }
.div_form .field_line label {float: left; display: block; width: 100px;}
.div_form .formErrors { padding: 10px; color: red; }
.div_form .formErrors h5 { margin: 0; font-size: 1em; border-bottom: 1px solid #dfdfdf; }
.div_form .formErrors ul { margin: 0; }